sysroot*/**/*

# do not ignore .gitkeep files:
result*/**
!result/.gitkeep
!result/image
result/image/*
!result/image/.gitkeep
!result/app
result/app/*
!result/app/.gitkeep
!sysroot_aarch64/.gitkeep
!sysroot_x86_64/.gitkeep
!apt/.gitkeep
!bin/.gitkeep

images/berrymill*
