sysroot*/**/*

# do not ignore .gitkeep files:
results*/**
!results/.gitkeep
!results/images
results/image/*
!results/images/.gitkeep
!results/packages
results/packages/*
!results/packages/.gitkeep
!apt/.gitkeep
!bin/.gitkeep

images/berrymill*

book
.venv
