[Unit]
Description=My Json App
After=network.target

[Service]
ExecStart=/usr/bin/myjsonapp
Type=simple
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
