[Unit]
Description=EBCL based mosquiito docker service
Requires=network-online.target docker.service
After=network-online.target docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull linux.elektrobit.com/ebcl/mqtt-registry:latest
ExecStart=/usr/bin/docker run --rm --name %n \
--network host \
linux.elektrobit.com/ebcl/mqtt-registry:latest
ExecStop=/usr/bin/docker stop %n

[Install]
WantedBy=multi-user.target
