[Unit]
Description=Extension point for tests
ConditionFileIsExecutable=/etc/test_runner

[Service]
Type=simple
User=root
WorkingDirectory=/
ExecStart=/etc/test_runner
Restart=no

[Install]
WantedBy=multi-user.target