img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
}

.chapter:before{
    content: '';
    background:url('/assets/logo.png');
    background-size: 120px;
    width: 120px;
    height: 120px;
    margin-left: 30px;
    display: block;
}

a {
    color: green !important;
}

img[Elektrobit] {
    width: 300px;
}
